/*Section donde esta el banner Principal*/
#banner
{
    /*la section empezara donde termina el header*/
    margin-top: 80px;
}

/* Banner que esta en la section banner*/
#banner img
{
    width: 100%;
    height: 100%;
    
}

/* RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE - */
/*Minimo 720px*/
@media (min-width:720px){
    
    /*Section donde esta el banner Principal*/
    #banner
    {
        height: 300px;
        overflow: hidden;
    }
    
    /* Banner que esta en la section banner*/
    #banner img
    {
        height: auto;
        margin-top: -80px;
        
    }
}

/* RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE - */
/*Minimo 1024px*/
@media (min-width:1024px){
    
    /* Banner que esta en la section banner*/
    #banner img
    {
        margin-top: -110px;
        
    }
}