html, body{
    background: bisque;
}

.caja{
    width: 400px;
    background: bisque;
    margin: 0 auto;
}

.caja p{
    text-align:left;
}

.caja ul{
    justify-content: left;
    text-align: left;
    color: red;
}

.caja li{
    text-align:left;
    color: red;
}

.cajagrande{
    padding: 100px;
    background: bisque;
}

.boxgallery{
    transform: translateY(-65px);
}


#fotoPerro{
    text-align: center;
    margin: auto;
    width: 406px;
}

#DetailForm{
    margin-top:0px;
}

form{
    margin-top: 65px;
    background: bisque;
    padding-left: 10px;
    text-align: center;
    font-size: 18px;
    justify-content:center;
}


form h2{
    text-align: center;
    font-size: 30px;
}

#welcome1{
    margin-top:10px;
    text-align: center;
}

#start1{
    text-align: center;
}

form h4{
    text-decoration:underline;
    font-size: 23px;
}


.formulario #titulo{
    text-align: center;
    float: none;
}

form input{
    width: 100%;
}

form span{
    color: brown;
    width: 100%;
}

#DatePicker{
    height: 30px;
    width: 200px;
}

#comboRegion{
    height: 30px;
    max-height: 35px;
}

#comboCiudad{
    height: 30px;
    max-height: 35px;
}

#comboCasa{
    height: 30px;
    max-height: 35px;
}

form button{
    font-size: 30px;
    height: 45px;
    width: 350px;
    text-align: center;
}

#checkServicio{
    cursor: pointer;
    width: 48px;
}

#servicio{
    font-size: 18px;
}

form button a{
    display: block;
    width: 100%;
    color: brown;
}

form button:hover{
    background: brown;
    color: white;
}

form button a:hover{
    text-decoration: none;
    color: white;
}


@media (max-width: 768px){
    .formulario #titulo{
        text-align: left;
        float: none;
    }

    form{
        text-align: left;
    }

    form h4{
        text-align: center;
    }

    #fotoPerro{
        text-align: center;
        margin: auto;
        width: 100%;
    }
}

@media (max-width: 467px){
    .caja{
        width: 100%;
        background: bisque;
        margin: 0 auto;
    }

    form button{
        width: 100%;
    }


    #name{
        margin-right: 100px;
    }

    #lastname{
        margin-right: 100px;
    }

    #run{
        margin-right: 150px;
    }

    #date{
        margin-right: 150px;
    }

    #fono{
        margin-right: 100px;
    }

    #fono{
        margin-right: 100px;
    }

    #casa{
        margin-right: 100px;
    }

    /* Estilos de form 2 */

    #race{
        margin-right: 100px;
    }

    #desc{
        margin-right: 100px;
    }

}

@media (max-width: 467px){
    #comboRegion{
        max-width: 100%;
        width: 100%;
    }
    #comboCiudad{
        max-width: 100%;
        width: 100%;
    }
    #comboCasa{
        max-width: 100%;
        width: 100%;
    }
}