#galeria .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#galeria .contenedor article h5{
    font-size:22px;
}

#galeria article{
    margin: 15px;
    border: 4px solid brown;
    max-width: 400px;

}

#galeria img{
    width: 99%;
    max-width: 400px;
    justify-content: center;
    max-height: 230px;
}

#galeria article h4{
    text-align: center;
    transform: translateY(-900%) translateX(7%);
    color: white;
    font-size: 25px;
    background: rgba(210, 105, 30, 0.76);
    display: block;
    max-width: 150px;
    max-height: 25px;
    height: 100%;
}

#galeria article p{
    font-size: 18px;
}

#galeria h3{
    text-align: center;
    font-size: 40px;
    font: bold;
}

#galleryTitle{
    margin-top:60px;
}


@media (max-width: 420px){
    #galeria article h4{
        transform: translateY(-800%) translateX(7%);
    }

}

@media (max-width: 300px){
    #galeria article h4{
        transform: translateY(-650%) translateX(7%)
    }
}

@media (max-width: 220px){
    #galeria article h4{
        transform: translateY(-500%) translateX(7%)
    }
}