/*Seccion Listado de Ordenes de Trabajos*/
#InfoOrder 
{
    background: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
}

/* EL Contenedor donde estan los articulos*/
.OrdenesContenedor
{
    width: 98%;
    margin: auto;
}


/* Contenedor donde estan los articulos*/
#InfoOrder .OrdenesContenedor
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

/* Los articulos donde estan las ordenes de trabajo*/
#InfoOrder .OrdenesContenedor article
{
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 15px;
    background: #A6BCA9;
    left: 0;
}

/*Titulo de la orden de trabajo*/
#InfoOrder .OrdenesContenedor article h3
{
    padding: 15px;
}



