/*Seccion Listado de Ordenes de Trabajos*/
#InfoOrder 
{
    background: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
}

/* EL Contenedor donde estan los articulos*/
.OrdenesContenedor
{
    width: 98%;
    margin: auto;
}


/* Contenedor donde estan los articulos*/
#InfoOrder .OrdenesContenedor
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

/* Los articulos donde estan las ordenes de trabajo*/
#InfoOrder .OrdenesContenedor article
{
    width: 100%;
    max-width: 380px;
    margin: 10px;
    padding: 15px;
    background: #003333;
    left: 0;
    color: #fff;

    /*Contorno de los articulos*/
    border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

/*Titulo de la orden de trabajo*/
#InfoOrder .OrdenesContenedor article h3
{
    padding: 15px;
}



