/* Seccion donde esta el registro del formulario*/
#RegistroFormulario
{
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Parrafos que estan dentro del div formulario*/
.formulario p
{
    margin: 15px;

}
/* DIV donde esta en el formulario*/
.formulario
{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    display: block;
}
/* Label que estan en los parrafos del formulario ej. Nombre Usuario. Apellido Paterno, etc.*/
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
}

/* Barra Textbox donde se ingresan los datos*/
form input {
    width: 100%;
    height: 30px;
}

/* Boton registrar y iniciar sesion */
.btn-primary
{
    text-decoration: none;
    padding: 10px;
    margin: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #2B4F6D;
    border-radius: 6px;
    border: 2px solid #335152;
}
/* Boton registrar e iniciar sesion, cuando se pasa el puntero del mouse */
.btn-primary:hover
{
    color: #1883ba;
    background-color: #ffffff;
}


/* RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE - */
/*Minimo 720px*/

@media (min-width:720px)
{
    /* DIV donde esta en el formulario*/
    .formulario
    {
        width: 60%;
    }
    
    /* Seccion donde esta el registro del formulario*/
    #RegistroFormulario
    {
        
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
}

/* RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE - */
/*Minimo 1024px*/

@media (min-width:1024px)
{
    /* DIV donde esta en el formulario*/
    .formulario
    {
        width: 75%;
    }
    
    /* Seccion donde esta el registro del formulario*/
    #RegistroFormulario
    {
        
        margin-top: 2%;
        margin-bottom: 2%;
    }
}